.wrapper {
	padding:0;
	margin:0;
	width:100%;
	height:100%;
	background:$bg-color;
	.top-line {
		margin:0 auto;
		width: 1280px;
		height: 3px;
		background-color: white;
		.line{
			height: 3px;
			float:left;
			display:block;
			width: 25%;
		}
		.l1 {
			background-color: #dc3131;
		}
		.l2 {
			background-color: #ffb400;
		}
		.l3 {
			background-color: #009cff;
		}
		.l4 {
			background-color: #b926f0;
		}
	}
	.main {
		padding:0;
		margin:0 auto;
		height:100%;
		width:$width_content;
		position:relative;
	}
}
@media screen and (max-width:480px) {
	.wrapper {
		.top-line {
			margin: 0;
			width: 100%;
		}
		.main {
			width:100%;
		}
	}
}
@media screen and (min-width:481px) and (max-width:960px) {
	.wrapper {
		.top-line {
			margin: 0;
			width: 100%;
		}
		.main {
			width:100%;
		}
	}
}




